<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试页</title>
</head>
<body>

<br><br><br>
<center>
测试数据库连接:
id 为1 的Employee信息:  <span th:text="${employee}"></span><br><br>
所有employee信息:
    <table>
    <tr th:each="item :${employees}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.getLastName()}"></td>
        <td th:text="${item.getEmail()}"></td>
        <td th:text="${item.getGender()}"></td>
        <td th:text="${item.getdId()}"></td>
        <br>
    </tr>>
    </table>
</center>

</div>
</div>
</body>

</html>